@page "/battle"
@inherits MainLayout
@inject Game Game
@inject NavigationManager Navigation

<PageTitle>Battle!</PageTitle>

<div id="battle-div" class="col">
    <article class="row-start stats s-plain">
        <p>@Player.Name the @Player.Tagline @Player.Health ♥</p>
        <p>Status: @Player.CurrentStatus.ToString()</p>
        <p>Agility: @Player.Agility</p>
        <p>Defense: @Player.Defense</p>
        <p>Strength: @Player.Strength</p>
        <p>Accuracy: @Player.Accuracy</p>
        <p>Evasion: @Player.Evasion</p>
    </article>
    <article class="row-start stats s-opponent">
        <p>@Opponent.Name the @Opponent.Tagline @Opponent.Health ♥</p>
        <p>Status: @Opponent.CurrentStatus.ToString()</p>
        <p>Moves: </p>
        @foreach (Move move in OpponentRevealedMoves.Keys)
        {
            if (move != Move.None)
            {
                <p>@move.Name</p>
            }
        }
    </article>
    <div class="col w-60">
        @if (playingBgm)
        {
            <audio id="bgm" autoplay src="@bgmAudioSrc"></audio>
        }
        @if (playingMoveAudio)
        {
            <audio id="moveSound" autoplay onended="@(() => { playingMoveAudio = false; })" src="@moveAudioSrc"></audio>
        }
        @if (CurrentMsg != MessageModel.Empty)
        {
            <article class="@(CurrentMsg.Type == MessageType.OpponentTurn ? "dialogue d-opponent" : "dialogue d-plain")">
                <p>@CurrentMsg.Message</p>
                @if (CurrentMsg.Type == MessageType.PlayerInput)
                {
                    foreach (Move move in Player.Moves)
                    {
                        <button class="btn-gold btn-small" type="button" @onclick="() => RecordMove(move)">@move.Name</button>
                    }
                }
            </article>
            if (CurrentMsg.Type == MessageType.GameOver)
            {
                readyForNext = false;
                <button class="btn-gold btn-large" @onclick="CreateNewCharacter">Create New Character</button>
                <button class="btn-gold btn-large" @onclick="TryAgain">Try Again</button>
            }
            else if (readyForNext)
            {
                <button class="btn-gold btn-large" @onclick="ProgressGame">Next</button>
            }
        }

    </div>
</div>

@code {
    private Character Player = CharacterList.Default;
    private Character Opponent = CharacterList.Default;

    private static readonly Random _rng = new();

    private MsgTracker MessageTracker = new MsgTracker();
    private MessageModel CurrentMsg = MessageModel.Empty;

    private bool readyForNext = true;

    private Dictionary<Move, bool> OpponentRevealedMoves = new Dictionary<Move, bool>();

    private readonly List<string> Songs = new()
    {
        "media/music1.wav",
        "media/music2.flac",
        "media/music3.wav",
    };

    private readonly Dictionary<Move, string> MoveSounds = new()
    {
        {Move.LongShot, ""},
        {Move.Punch, ""},
        {Move.SwordSlash, ""},
        {Move.AxeSwing, ""},
        {Move.RoaringMoon, ""},
        {Move.JumpKick, ""},
        {Move.ShortShot, "media/bow1.wav"},
        {Move.Counter, ""},
        {Move.IceSpike, ""},
        {Move.FlameImplosion, ""},
        {Move.ThousandCuts, ""},
        {Move.CursedExcalibur, ""},
    };

    private bool playingMoveAudio = false;
    private bool playingBgm = false;
    private string moveAudioSrc = "";
    private string bgmAudioSrc = "";

    [CascadingParameter] public MainLayout Layout { get; set; }

    protected override void OnInitialized()
    {
        Layout.DisableMenu();
        Player = Game.Player;
        Opponent = Game.Opponent;

        MessageTracker.Clear();
        MessageTracker.Enqueue(new(MessageType.Game, "Welcome ladies and gentlemen, to the annual IRONMAN tournament!\n" +
                "It's a bright sunny day here, and we've got some great fighters for you this year!\n" +
                "Here comes our first one, " + Player.Name + "! They look like they're here to win!", Move.None));
        MessageTracker.Enqueue(new(MessageType.Game, "And here's their opponent. " + Opponent.Description, Move.None));
        //MessageTracker.Enqueue(new(MessageType.Game, Opponent.OpeningDialogue, Move.None));
        readyForNext = true;

        bgmAudioSrc = Songs[_rng.Next(0, Songs.Count)];
        playingBgm = true;
        ProgressGame();
    }

    private void ProgressGame()
    {
        if (MessageTracker.Count == 0)
        {
            Game.NextTurn(MessageTracker);
        }

        CurrentMsg = MessageTracker.Dequeue();
        if (CurrentMsg.Type == MessageType.OpponentTurn)
        {
            OpponentRevealedMoves[CurrentMsg.Move] = true; // just using a dictionary to avoid checking for duplicates

            moveAudioSrc = MoveSounds.ContainsKey(CurrentMsg.Move) ? MoveSounds[CurrentMsg.Move] : "";
            playingMoveAudio = true;
        }
        else if (CurrentMsg.Type == MessageType.PlayerInput)
        {
            readyForNext = false;
        }
    }

    private void RecordMove(Move move)
    {
        Game.RecordPlayerMove(move);
        readyForNext = true;
    }

    private void CreateNewCharacter()
    {
        Navigation.NavigateTo("/intro");
    }

    private void TryAgain()
    {
        Game.SetUpWithExistingPlayer();
        Navigation.Refresh();
    }
}