@page "/"
@inherits MainLayout
@inject Game Game
@inject NavigationManager Navigation

<PageTitle>Tournament Fighter</PageTitle>

<audio id="intro" autoplay src="media/intro1.wav"></audio>

@if (pressedStart)
{
    <audio id="button" autoplay src="@buttonSoundSrc"></audio>
}
@if (pressedSubmit)
{
    <audio id="button" autoplay src="@buttonSoundSrc"></audio>
}

@if (pressedStart)
{
    <form class="intro col-start full-h" @onsubmit=@Submit>
        <div class="f-large h-15 row-center">
            <p>Your name is &nbsp;</p>
            <input class="text-input f-large" tabindex="1" placeholder="type here..."
                @ref="nameInput" @bind-value="name"></input>
            @{
                enteredName = enteredTagline = !String.IsNullOrWhiteSpace(name);
            }
        </div>
        @if (enteredName)
        {
            <p class="f-medium h-10">and you've entered a fighting tournament.</p>

            <div class="f-medium h-20 row-center">
                <p>You want people to call you the &nbsp</p>
                <input class="text-input f-medium" tabindex="2" placeholder="type here..."
                    @ref="taglineInput" @bind-value="tagline"></input>
                @{
                    enteredTagline = !String.IsNullOrWhiteSpace(tagline);
                }
            </div>
        }
        @if (enteredTagline)
        {
            <p class="f-medium h-15">You will be facing 3 opponents. Defeat all three and you'll win prize money and fame!</p>
            <div class="f-medium h-30 col-center">
                <p>You've been training hard, and your fighting style is:</p>
                <div class="row-end full-w">
                    <div class="row-end w-70">
                        <button class="@(build == "bal" ? "btn-radio-active" : "") btn-radio f-medium" type="button" @onclick=@SetBalancedBuild>Balanced</button>
                        <button class="@(build == "agi" ? "btn-radio-active" : "") btn-radio f-medium" type="button" @onclick=@SetAgileBuild>Agile</button>
                        <button class="@(build == "tnk" ? "btn-radio-active" : "") btn-radio f-medium" type="button" @onclick=@SetTankyBuild>Tanky</button>
                        <button class="@(build == "wiz" ? "btn-radio-active" : "") btn-radio f-medium" type="button" @onclick=@SetWizardBuild>WIZARD</button>
                    </div>
                    <button class="btn-gold f-medium" type="submit" disabled="@(!choseBuild)">Submit</button>
                </div>
            </div>
        }
    </form>
}
else
{
    <h1 class="logo">TOURNAMENT</h1>
    <h1 class="logo logo-bottom">FIGHTER</h1>
    <button id="start-btn" class="btn-gold f-small" @onclick=@StartIntro>Start</button>
    <div class="champions f-xsmall full-h col-start wrap">
        @foreach (Champion c in champions)
        {
            <p class="f-xxsmall">@c.Name the @c.Tagline &nbsp;</p>
        }
    </div>
}

@code {
    private Stats playerStats;
    private Move[] playerMoves;

    private ElementReference nameInput;
    private ElementReference taglineInput;
    private string? name;
    private string? tagline;

    private Champion[] champions = [];

    private bool pressedStart = false;
    private bool pressedSubmit = false;
    private bool enteredName = false;
    private bool enteredTagline = false;
    private bool choseBuild = false;
    private string build = "";

    private string buttonSoundSrc = "media/confirm1.wav";

    private int maxNameLength = 20;
    private int maxTaglineLength = 20;

    protected override void OnInitialized()
    {
        champions = Game.GetChampions();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (pressedStart)
        {
            if (!enteredName)
            {
                await nameInput.FocusAsync();
            }
            else if (!enteredTagline)
            {
                await taglineInput.FocusAsync();
            }
        }
    }

    private void StartIntro()
    {
        pressedStart = true;
        StateHasChanged();
    }

    public void SetBalancedBuild()
    {
        playerStats = new(100, 70, 60, 70, 70);
        playerMoves = [Move.Punch, Move.SwordSlash, Move.GroundSlam, Move.Counter];
        choseBuild = true;
        build = "bal";
    }

    public void SetAgileBuild()
    {
        playerStats = new(100, 90, 50, 50, 70);
        playerMoves = [Move.Punch, Move.CrushingGrip, Move.JumpKick, Move.Counter];
        choseBuild = true;
        build = "agi";
    }

    public void SetTankyBuild()
    {
        playerStats = new(100, 40, 90, 100, 40);
        playerMoves = [Move.Punch, Move.CrushingGrip, Move.AxeSwing, Move.Counter];
        choseBuild = true;
        build = "tnk";
    }

    public void SetWizardBuild()
    {
        playerStats = new(100, 50, 50, 100, 100);
        playerMoves = [Move.IceSpike, Move.FlameImplosion, Move.CursedExcalibur, Move.RedirectLightning];
        choseBuild = true;
        build = "wiz";
    }

    public void Submit()
    {
        if (enteredName && enteredTagline && choseBuild)
        {
            pressedSubmit = true;
            Character player = new Character(playerStats, playerMoves)
                {
                    Name = name,
                    Tagline = tagline,
                };
            Game.InitializeNewGame(player);
            Navigation.NavigateTo("/battle");
        }
    }
}